/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: white;
}

header {
    height: 8.875rem;
    background-color:  rgb(61, 61, 61);
}

main {
  height: calc(100vh - 8.875rem - 11.25rem);
  overflow-y: auto;
}

footer {
    height: 11.25rem;
    background-color: rgb(61, 61, 61);
}
